# Exclude everything
*

# Include .gitignore
!.gitignore

## root directory includes ##

# shell init scripts
!bashrc
!bash_profile
!zshrc

# X configs
!xinitrc
!xserverrc
!Xresources
!Xauthority

!Xresources.d/
!Xresources.d/**
Xresources.d/*zenbu*

!Xsession.d/
!Xsession.d/**

# Setup/Install scripts
!setup.sh
!install.sh

!dependencies/
!dependencies/**

# Misc files
!colors/
!colors/**
colors/*zenbu*
!vimrc
!vimperatorrc
!bin/
!bin/**
!wallpapers/
!wallpapers/SOURCES
!utils/
!utils/SOURCES

## .xmonad includes ##
!xmonad
!xmonad/background.png
!xmonad/xmonad.hs


## .antigen includes ##
!antigen
!antigen/custom/
!antigen/custom/**


## .config includes ##
!config

!config/vimb/
!config/vimb/config

!config/awesome/
!config/awesome/**

!config/fish/
!config/fish/**

!config/omf/
!config/omf/**

!config/nvim

!config/i3/
!config/i3/**

!config/i3blocks/
!config/i3blocks/**

!config/luakit/
!config/luakit/**

!config/polybar/
!config/polybar/**

!config/xmodmap/
!config/xmodmap/**

!config/compton.conf

!config/zenbu/
!config/zenbu/**

## .vim includes ##
!vim
!vim/after/
!vim/after/**
!vim/colors/
!vim/colors/**
!vim/init.vim
!vim/setup.sh
!vim/vimrc

