config/libre*/
config/spotify/
config/sublime*/
config/google-chrome/
config/midori/
config/pulse/
config/vlc/
config/software-center/
config/roxterm*/
config/ranger/
config/yelp/
config/tilda/
config/Atom/
config/user-dirs*
config/nautilus/
config/Popcorn-Time/
config/banshee*/
config/unity/
config/teamviewer/
config/gtk*/
config/update-notifier/
config/unity-tweak-tool/
config/Code/
config/compiz*/
config/gedit/
config/Trolltech.conf
config/configstore/
config/totem/
config/gnome-control-center/
config/freerdp/
config/evolutions/
config/autostart/
config/mc/
config/libaccounts-glib/
vim/bundle/
vim/.netrwhist
vim/.vimrc.bak
antigen/repos/
antigen/.cache/
antigen/antigen.log
config/Foxit Software/
config/vimb/cookies
config/vimb/hsts
config/vimb/history
config/vimb/closed
config/vimb/search
config/google-chrome-unstable/
config/freshwrapper-data/
